apiVersion: v1
kind: Namespace
metadata:
  name: {{ chart.namespace }}
---
apiVersion: helm.cattle.io/v1
kind: HelmChart
metadata:
  name: {{ chart.namespace }}
  namespace: kube-system
spec:
  repo: {{ chart.repo }}
  chart: {{ chart.name }}
  targetNamespace: {{ chart.namespace }}
